.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    max-width: 1110px;
    margin: auto;
  }
  
  @media screen and (min-width: 992px) {
    .login-form-container {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  
  .login-image {
    width: 278px;
  }
  
  @media screen and (min-width: 992px) {
    .login-image {
      width: 60%;
      max-width: 524px;
      flex-shrink: 1;
      margin-right: 20px;
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
  }
  
  @media screen and (min-width: 992px) {
    .form-container {
      width: 350px;
      flex-shrink: 0;
      padding: 64px 48px 64px 48px;
    }
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .input-label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #475569;
  }
  
  .email-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
  }
  
  .password-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
  }
  
  .login-button {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0b69ff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }
  
  .star-image {
    color: #ff0b37;
  }
  .heading-text {
    color: #000000;
    font-weight: bold;
  }
  .p-color {
    color: #4186e1;
  }
  .signin-text {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
  }
  
  .remind-forgot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .forgot-text {
    font-size: 14px;
    padding-left: 20px;
  }
  .remind-me {
    font-size: 14px;
    padding-right: 20px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .signin-with {
    color: #2c2c2c;
    padding-top: 20px;
    font-size: 14px;
  }
  .icon-size {
    width: 30px;
    height: 25px;
  }